.container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    max-height: 300px;
}
.uploadContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}