.container{
    width: 100vw;
    background-color: var(--btn);
    height: 25vh;
    
}
.rowItem{

    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;

    
}